@use 'colors' as *;

//NavPad//

.NavPad {
 width: 80%;
 height: 40%;
 margin: 25px 10% 25px;
 border: 4px solid rgba(255, 255, 255, 0.018);
 border-radius: 15px;
}

.NavPad--Direction {
 margin: 0;
 position: relative;
 width: 100%;
 height: 100%;
}

.NavPad--Direction--Up,
.NavPad--Direction--Down,
.NavPad--Direction--Left,
.NavPad--Direction--Right,
.NavPad--Direction--Enter {
 background-color: transparent;
 color: rgba(255, 255, 255, 0.18);
 border: none;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0;
}

.NavPad--Direction--Enter-Icon {
 border: 3px solid $lightOrange;
 width: 25px;
 height: 25px;
 border-radius: 100%;
}

.highlightEnter {
 background-color: $lightOrange;
 box-shadow: 0px 0px 24px $lightOrange;
}

.NavPad--Direction--Grid {
 height: 100%;
 display: grid;
 grid-template-columns: repeat(3, 33%);
 grid-template-rows: repeat(3, 33%);
}

.NavPad--Direction--Left {
 grid-column-start: 1;
 grid-column-end: 1;
 grid-row-start: 2;
 grid-row-end: 2;
}

.NavPad--Direction--Up {
 grid-column-start: 2;
 grid-column-end: 2;
 grid-row-start: 1;
 grid-row-end: 1;
}

.NavPad--Direction--Right {
 grid-column-start: 3;
 grid-column-end: 3;
 grid-row-start: 2;
 grid-row-end: 2;
}

.NavPad--Direction--Down {
 grid-column-start: 2;
 grid-column-end: 2;
 grid-row-start: 3;
 grid-row-end: 3;
}

.NavPad--Direction--Enter {
 grid-column-start: 2;
 grid-column-end: 2;
 grid-row-start: 2;
 grid-row-end: 2;
}

.highlight-up {
 background: linear-gradient(rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.03));
}
.highlight-left {
 background: linear-gradient(
  0.25turn,
  rgba(255, 255, 255, 0.03),
  rgba(0, 0, 0, 0.03)
 );
}
.highlight-right {
 background: linear-gradient(
  -0.25turn,
  rgba(255, 255, 255, 0.03),
  rgba(0, 0, 0, 0.03)
 );
}
.highlight-down {
 background: linear-gradient(
  1turn,
  rgba(255, 255, 255, 0.03),
  rgba(0, 0, 0, 0.03)
 );
}

// End of NavPad

// Buttton Group //

.ButtonGroup {
 display: flex;
 justify-content: space-between;
 gap: 0 5px;
 margin: 2.5% 2.5% 0;
}

.ButtonGroup--Narrow {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px 0;
 width: 22.5%;
}

.ButtonGroup--Wide {
 width: 55%;
 border-radius: 45px 45px 0 0;
 border: 2px solid rgba(222, 222, 222, 0.15);
 border-bottom: none;
 box-shadow: inset 0 5px 26px rgba(40, 126, 242, 0.17);
}

.ButtonGroup--Wide--Border {
 height: 85%;
 border-radius: 45px 45px 0 0;
 padding-top: 10px;
 margin: 10%;
 background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
 gap: 5px 0;
 display: flex;
 flex-direction: column;
 align-items: center;
}

// Medium Button

.Medium-Buttton {
 text-align: center;
 width: 50px;
 height: 50px;
 border-radius: 100%;
 border: 3px solid $lightOrange;
 background-color: transparent;
 margin: 0;
 padding: 0;
 color: $gray;

 .defaultstate {
  width: 30px;
  height: 20px;
 }
 .activestate {
  width: 30px;
  height: 20px;
  color: $lightOrange;
 }
}

// Big Button

.Big-Buttton {
 text-align: center;
 width: 60px;
 height: 60px;
 border-radius: 100%;
 border: 3px solid $lightOrange;
 background-color: transparent;
 margin: 0;
 padding: 0;
 color: $gray;

 .defaultstate {
  width: 25px;
  height: 25px;
 }

 .activestate {
  width: 35px;
  height: 35px;
  path {
   color: $lightOrange;
   filter: drop-shadow(2px 2px 100px $lightOrange);
  }
 }
}

// UpDownButton //

.UpDownButton {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.UpDownButton--Up {
 border-radius: 50px 50px 0 0;
 width: 60px;
 height: 60px;
 background-color: transparent;
 border: 5px solid rgba(40, 126, 242, 0.3);
 border-bottom: 0;
 padding: 5px 0 0;
 color: $lightOrange;
 display: flex;
 justify-content: center;
}

.UpDownButton--Down {
 width: 60px;
 height: 65px;
 border-radius: 0 0 50px 50px;
 background-color: transparent;
 border: 5px solid rgba(40, 126, 242, 0.3);
 border-top: 0;
 padding: 0 0 5px;
 color: $lightOrange;
 display: flex;
 justify-content: center;
 align-items: flex-end;
}

.UpDownButtonActiveUp {
 border-radius: 50px 50px 0 0;
 width: 40px;
 height: 55px;
 border-bottom: 0;
 color: $lightOrange;
 background-color: rgba(60, 97, 132, 0.5);
}

.IconStateOnline {
 height: 25px;
 path {
  color: $lightOrange;
  filter: drop-shadow(0 0 50px $lightOrange);
 }
}

.IconStateOffline {
 color: rgba(188, 196, 240, 0.25);
}

.UpDownButtonActiveDwn {
 border-radius: 0 0 50px 50px;
 width: 40px;
 height: 55px;
 color: $lightOrange;
 background-color: rgba(60, 97, 132, 0.5);
 display: flex;
 justify-content: center;
 align-items: flex-end;
}

.UpDownButton--Function {
 position: absolute;
 font-size: 8px;
 margin: 0;
 color: $lightOrange;
 font-weight: 700;
}
// Toggle Button

.ToggleButton {
 overflow: none;
 background-color: transparent;
 border: none;
}

.ToggleBackground-On,
.ToggleBackground-Off {
 width: 30px;
 height: 15px;
 border-radius: 15px;
}

.ToggleBackground-On {
 background-color: rgba(64, 89, 130, 1);
}

.ToggleBackground-Off {
 background-color: white;
 display: flex;
 justify-content: flex-end;
}

.ToggleNode-On,
.ToggleNode-Off {
 border-radius: 100%;
 width: 15px;
 height: 15px;
}

.ToggleNode-On {
 background-color: rgba(36, 43, 51, 1);
}

.ToggleNode-Off {
 background-color: black;
}

@media screen and (max-height: 675px) {
 .NavPad {
  height: 30%;
 }
}

@media screen and (max-height: 550px) {
 .NavPad {
  height: 30%;
  margin: 10px 10% 10px;
 }
 .ButtonGroup {
  height: 40%;
 }
 .Nav {
  height: 50px;
 }

 .Nav--collapsible--open-title-section--Title {
  font-size: 32px;
 }
 .Nav--collapsible--open-title-section {
  padding: 1em;
 }
}
