@use 'colors' as *;

//NavPad//

.NavPad {
 width: 70%;
 height: 30%;
 margin: 25px 15% 0;
 border: 2px solid rgba(255, 255, 255, 0.018);
 border-radius: 15px;
}

.NavPad--Direction {
 margin: 0;
 position: relative;
 width: 100%;
 height: 100%;
}

.NavPad--Direction--Up,
.NavPad--Direction--Down,
.NavPad--Direction--Left,
.NavPad--Direction--Right,
.NavPad--Direction--Enter {
 background-color: transparent;
 color: rgba(255, 255, 255, 0.18);
 border: none;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0;
}

.NavPad--Direction--Enter-Icon {
 border: 3px solid $lightOrange;
 width: 25px;
 height: 25px;
 border-radius: 100%;
}

.NavPad--Direction--Grid {
 height: 100%;
 display: grid;
 grid-template-columns: repeat(3, 33%);
 grid-template-rows: repeat(3, 33%);
}

.NavPad--Direction--Left {
 grid-column-start: 1;
 grid-column-end: 1;
 grid-row-start: 2;
 grid-row-end: 2;
}

.NavPad--Direction--Up {
 grid-column-start: 2;
 grid-column-end: 2;
 grid-row-start: 1;
 grid-row-end: 1;
}

.NavPad--Direction--Right {
 grid-column-start: 3;
 grid-column-end: 3;
 grid-row-start: 2;
 grid-row-end: 2;
}

.NavPad--Direction--Down {
 grid-column-start: 2;
 grid-column-end: 2;
 grid-row-start: 3;
 grid-row-end: 3;
}

.NavPad--Direction--Enter {
 grid-column-start: 2;
 grid-column-end: 2;
 grid-row-start: 2;
 grid-row-end: 2;
}

.highlight-up {
 background: linear-gradient(rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.03));
}
.highlight-left {
 background: linear-gradient(
  0.25turn,
  rgba(255, 255, 255, 0.03),
  rgba(0, 0, 0, 0.03)
 );
}
.highlight-right {
 background: linear-gradient(
  -0.25turn,
  rgba(255, 255, 255, 0.03),
  rgba(0, 0, 0, 0.03)
 );
}
.highlight-down {
 background: linear-gradient(
  1turn,
  rgba(255, 255, 255, 0.03),
  rgba(0, 0, 0, 0.03)
 );
}

.highlight path {
 color: $lightOrange;
 filter: drop-shadow(2px 2px 25px $lightOrange);
}
