@use 'colors' as *;

.Menu {
 width: 100%;
 border-top: 2px solid rgba(255, 255, 255, 0.18);
 border-radius: 40px 40px 0 0;
 background: linear-gradient(
  0.1turn,
  rgba(255, 255, 255, 0.011),
  rgba(255, 255, 255, 0.017)
 );
}

.Menu--Navigation {
 margin-top: 10px;
 display: flex;
 justify-content: space-evenly;
}

.Menu--Navigation--Button {
 background-color: transparent;
 color: white;
 border: none;
}

.Menu--Navigation--Button-Name {
 margin: 0.5em;
 font-size: 8px;
}

.NavMenu-Active {
 box-shadow: 0px 0px 25px 15px rgba(83, 137, 193, 1);
 background-color: rgba(83, 137, 193, 1);
}

.NavMenu-Active-Text {
 color: $lightOrange;
}
